// Font settings
$font-size-default: 16 !default;
$font-lineHeight-default: 24/16 * 1em !default;
$font-stack-default: 'Montserrat', Helvetica, sans-serif !default;

// Font Weights
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

