*, *::before, *::after {
  box-sizing: border-box;
}

html {
  // set font defaults
  font-size: $font-size-default * 1px;
  font-family: $font-stack-default;
  font-weight: $font-weight-normal;
  line-height: $font-lineHeight-default;

  color: $color-text-primary;

  margin: 0;

  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;

  background: $color-body-background;

  font-size: 1rem;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;

  color: inherit;

  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


// Normalize.css
// ===============================================
@import 'normalize';

@include placeholder() {
  color: $color-white;
}
