$grid-max-width: 1200px;
$grid-max-columns: 12;

%flexContainer {
  display: flex;
  flex-flow: row wrap;

  width: 100%;
  max-width: $grid-max-width;

  margin: 0 auto;
}

%flexContainer--nowrap {
  display: flex;
  flex-flow: row;

  width: 100%;
  max-width: $grid-max-width;

  margin: 0 auto;
}


// Column creator
@mixin column($columns, $max: $grid-max-columns, $gutter: true, $margin-bottom: false) {

  flex-grow: 1;
  width: fluidize($columns, $max);

  @if $gutter == true {
    padding: 0 px-to-em($spacing-unit);
  }

  @if $margin-bottom == true {
    margin-bottom: px-to-em($spacing-unit * 1.5);
  }

}


